<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans               
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd               
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:component-scan base-package="com.smi.tms"></context:component-scan>
	<context:component-scan base-package="com.smi.tms.model"></context:component-scan>
	<mvc:annotation-driven/>
	
	
	<!-- <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean> -->
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.tiles3.TilesViewResolver"/>
	<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/layouts/layouts.xml</value>
				<!-- <value>/WEB-INF/layouts/views.xml</value> -->
			</list>
		</property>
	</bean>
	
	<mvc:resources mapping="/resources/**" location="/resources/"/> 
	<mvc:annotation-driven />
	
	<context:property-placeholder location="classpath:application.properties" />
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}"/>
    </bean>
    
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" >
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
               <!--  <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop> -->
            </props>
        </property>       
        <property name="annotatedClasses">
			<list>
				<value>com.smi.tms.model.User</value>
				<value>com.smi.tms.model.Employee</value>
				<value>com.smi.tms.model.Task</value>
				<value>com.smi.tms.model.Address</value>
				<value>com.smi.tms.model.Module</value>
				<value>com.smi.tms.model.Project</value>
				<value>com.smi.tms.model.Role</value>
			</list>
		</property>
    </bean>
    
    <bean id="hibernateTemplate"
		class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="hTemplate" class="com.smi.tms.util.HibernateUtil">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>

	<bean class="com.smi.tms.dao.impl.LoginDAOImpl" />
	<bean class="com.smi.tms.dao.impl.UserDAOImpl" />
	
</beans>